{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
    <link rel="stylesheet" href="{% static '/blocks/main/center-block.css' %}">
{% endblock %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Мы отправили вам по электронной почте инструкции по сбросу пароля.
            Если они не пришли в течение нескольких минут, проверьте свою папку со спамом</p>
    </div>
{% endblock %}
