
<h1><a href="#">FoodGram</a></h1>


<h3>Уважаемый {{ user.get_full_name }}.</h3>

<p>
    Мы получили запрос на сброс пароля вашей учетной записи для этого адреса электронной почты.
</p>
    <p>Чтобы начать процесс сброса пароля для вашей учетной записи, кликните по ссылке ниже.</p>
    <p>Эту ссылку можно использовать только один раз.</p>
    <p>Если вы не отправляли это запрос, вы можете просто проигнорировать это письмо.</p>
<a style="text-align:center;text-decoration: none;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">СБРОСИТЬ ПАРОЛЬ</a>
