{% extends "base.html" %}
{% block title %}Избранное{% endblock %}

{% load static %}
{% load thumbnail %}
{% load app_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include 'skeleton/tag.html' with link='favorites' %}
    </div>
    <div class="card-list">
       {% for favorite in favorites %}
                    <div class="card" data-id="{{ favorite.id }}">
                            <a href="{% url 'recipe' favorite.slug %}" class="link" target="_blank">
                                {% thumbnail favorite.image "500x500" crop="center" upscale=True as im %}
                                        <img src="{{ im.url }}" alt="фото рецепта" class="card__image">
                                {% endthumbnail %}
                            </a>
                        <div class="card__body">
                            <a class="card__title link" href="{% url 'recipe' favorite.slug %}" target="_blank">{{ favorite.title }}</a>
                            <ul class="card__items">
                                {% for tag in favorite.tag|get_recipe_tags %}
                                    <li class="card__item">{{ tag|safe }}</li>
                                {% endfor %}
                            </ul>
                            <div class="card__items card__items_column">
                                <p class="card__text"><span class="icon-time"></span> {{ favorite.time }} мин.</p>
                                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author_recipe' favorite.author.username %}" style="color: black">{{ favorite.author.get_full_name }}</a></p>
                            </div>
                        </div>
                        <div class="card__footer">
                            {% if favorite.id in purchases %}
                                <button class="button button_style_light-blue-outline" name="purchases"><span
                                        class="icon-check button__icon"></span> Рецепт добавлен
                                </button>
                            {% else %}
                                <button class="button button_style_light-blue" name="purchases" data-out><span
                                        class="icon-plus button__icon"></span> Добавить в покупки
                                </button>
                            {% endif %}
                            <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                        </div>
                    </div>
            {% endfor %}
    </div>

    {% if is_paginated %}
        {% include "skeleton/paginator.html" %}
    {% endif %}

<script src="{% static '/js/components/MainCards.js' %}"></script>

<script src="{% static '/js/components/Purchases.js' %}"></script>
<script src="{% static '/js/components/Favorites.js' %}"></script>

<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/CardList.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>

<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static '/favorite.js' %}"></script>

{% endblock %}