{% load app_filters %}
<nav class="pagination" aria-label="Переключение страниц">
    <ul class="pagination__container">
        {% if page_obj.has_previous %}
                <li class="pagination__item">
                {% if 'page' in request.GET %}
                    <a class="pagination__link link" href="?{% clear_url request=request key='page' value=page_obj.previous_page_number %}&page={{ page_obj.previous_page_number }}">
                        <span class="icon-left"></span>
                {% else %}
                    </a><a class="pagination__link link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">
                        <span class="icon-left"></span>
                    </a>
                {% endif %}
                </li>
            {% else %}
                <li class="pagination__item">
                        <span class="icon-left"></span>
                </li>
            {% endif %}

        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="pagination__item pagination__item_active">
                    <span class="pagination__link link" href="#">{{ i }}</span>
                </li>
            {% else %}
                <li class="pagination__item">
                {% if 'page' in request.GET %}
                    <a class="pagination__link link" href="?{% clear_url request=request key='page' value=i %}&page={{ i }}">{{ i }}</a>
                {% else %}
                    <a class="pagination__link link" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a>
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="pagination__item">
                {% if 'page' in request.GET %}
                    <a class="pagination__link link" href="?{% clear_url request=request key='page' value=page_obj.next_page_number %}&page={{ page_obj.next_page_number }}">
                        <span class="icon-right"></span>
                    </a>
                {% else %}
                    <a class="pagination__link link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">
                        <span class="icon-right"></span>
                    </a>
                {% endif %}
            </li>
        {% else %}
            <li class="pagination__item">
                    <span class="icon-right"></span>
            </li>
        {% endif %}
    </ul>
</nav>